<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verified</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/emailVerified.css" />
  </head>
  <body>
    <div class="verified-container">
      <div class="row">
        <div class="col">
          <h4>Success</h4>
          <h2>Your email has been verified</h2>
          <p>return to login page</p>
          <button class="btn">
            <!-- <a
              href="https://binair-stagging-production.up.railway.app/#/auth"
              style="text-decoration: none; color: white"
              >Back to Login</a
            > -->
            <a
              href="https://binair-production.up.railway.app/#/auth"
              style="text-decoration: none; color: white"
              >Back to Login</a
            >
          </button>
        </div>
      </div>
      <div class="row">
        <img class="img-success" src="/assets/success.svg" alt="" />
      </div>
    </div>
  </body>
</html>