<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/resetPassword.css" />
  </head>
  <body>
    <!-- container fluid -->
    <div class="container-fluid auth">
      <!-- row -->
      <div class="row auth-content">
        <!-- logo -->
        <div class="col-12 col-md-6 auth-logo">
          <img
            src="/assets/binair-white-logo.svg"
            alt="logo"
            class="binair-logo fluid"
          />
        </div>
        <!-- auth main -->
        <div class="col-12 col-md-6 auth-main rounded-2">
          <!-- container -->
          <div class="container">
            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col">
                <h3>
                  <b>Reset Password</b>
                </h3>
              </div>
            </div>
            <!-- end row -->
            <!-- row -->
            <div class="row auth-form">
                <!-- form -->
                <form action="/reset-password/:token" method="POST">
                    <!-- password -->
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control form-input border border-top-0 border-start-0 border-end-0 rounded-0 p-0" placeholder="Masukan password baru" id="password" name="password">
                    </div>
                    <!-- confirm password -->
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control form-input border border-top-0 border-start-0 border-end-0 rounded-0 p-0" placeholder="Ulangi password" id="confirmPassword" name="confirmPassword">
                    </div>
                    <button variant="primary" type="submit" class="btn btn-login my-3">Submit</button>
                <!-- end form -->
            </div>
            <!-- end row -->
          </div>
        </div>
        <!-- end row -->
      </div>
    </div>
    <!-- end container fluid -->
  </body>
</html>
